<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.gao.mapper.GoodMapper">
    <resultMap type="cn.shop.gao.domain.Good" id="goodresultMap">
        <id property="id" column="id"/>
        <result property="good_id" column="good_id"/>
        <result property="good_name" column="good_name"/>
    </resultMap>
    <select id="findPageGood" resultMap="goodresultMap">
        <![CDATA[








			select * from shop_good limit #{0},#{1}








        ]]>
    </select>
    <select id="findAllGood" resultMap="goodresultMap">
        <![CDATA[








			select * from shop_good








        ]]>
    </select>
    <select id="findGood" parameterType="Integer" resultType="Good">
        <![CDATA[








			select * from shop_good where good_id=#{id}









        ]]>
    </select>
    <select id="countGood" resultType="Integer">
        <![CDATA[








			SELECT COUNT(1) from shop_good









        ]]>
    </select>
</mapper>