<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.shop.gao.mapper.UserGroupMapper">
    <resultMap type="cn.shop.gao.domain.UserGroup" id="userGroupresultMap">
        <id property="id" column="id"/>
        <result property="user_id" column="user_id"/>
        <result property="group_id" column="group_id"/>
    </resultMap>
    <select id="getGroupRight" parameterType="int" resultType="String">
        <![CDATA[








			select shop_group.right_content from shop_user_group , shop_group where shop_user_group.group_id=shop_group.id and shop_user_group.user_id=#{user_id}









        ]]>
    </select>
</mapper>