<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>商品交易平台</title>
</head>
<body>
<form id="formBt" action="">
<table border="1">
    <tr>
        <th width="100px">商品ID</th>
        <th width="200px">数量</th>
    </tr>
    #foreach ($cart in $carts)
        <tr>
            <td> <input pe="text" id="good_id" name="good_id" value=${cart.good_id} readOnly="true" /> </td>
            <td> <input pe="text" id="amount" name="amount" value=${cart.amount} readOnly="true" /> </td>
        </tr>
    #end
    <tr>
    <td align="center"><a href="pay">提交订单</a></td>
</tr>
</table>
    </form>
</body>
</html>